In [1]:
import pandas as pd
from scipy.stats import pearsonr

In [3]:
df=pd.read_csv("match & toss.csv")
df.head()

  teams  toss win match win  toss win match lost
0   CSK                  57                   32
1    MI                  56                   42
2   KKR                  53                   39
3    RR                  42                   38
4   RCB                  41                   40

In [4]:
cor=pearsonr(df['toss win match win'],df['toss win match lost'])
print("Pearson's correlation between toss win & match win is ",cor)

Pearson's correlation between toss win & match win is  (0.3070412917471119, 0.45945689879967877)