In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Batsman standings.csv")

In [3]:
df.describe()

,Position,Matches,Innings,Not outs,Runs,Highest score,Average,strike rate,100,50,4s,6s,Strength
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000
mean,50.500000,92.440000,83.670000,15.450000,2022.160000,91.590000,28.828600,132.753400,0.620000,11.630000,185.750000,77.720000,263.47000
std,29.011492,49.037467,45.253284,12.613425,1352.316566,22.768086,6.318648,12.322532,1.126181,10.561656,132.589469,59.649325,179.22056
min,1.000000,16.000000,16.000000,0.000000,359.000000,40.000000,15.710000,106.800000,0.000000,0.000000,20.000000,25.000000,45.00000
25%,25.750000,55.750000,51.000000,5.750000,1013.000000,75.000000,24.617500,124.255000,0.000000,4.000000,89.250000,39.000000,128.50000
50%,50.500000,84.500000,74.000000,11.500000,1669.500000,91.000000,27.630000,130.550000,0.000000,9.000000,143.500000,55.000000,205.00000
75%,75.250000,113.250000,101.750000,21.250000,2512.500000,106.000000,31.930000,137.910000,1.000000,15.000000,245.500000,92.750000,339.25000
max,100.000000,211.000000,202.000000,70.000000,6076.000000,175.000000,46.530000,179.290000,6.000000,50.000000,634.000000,357.000000,761.00000

In [4]:
df.corr()

,Position,Matches,Innings,Not outs,Runs,Highest score,Average,strike rate,100,50,4s,6s,Strength
Position,1.000000,-0.679511,-0.738977,-0.383700,-0.767849,-0.577852,-0.430130,-0.306647,-0.492496,-0.671100,-0.669481,-0.845413,-0.776665
Matches,-0.679511,1.000000,0.970049,0.742428,0.830134,0.207822,0.101613,-0.004534,0.337411,0.654453,0.763542,0.694489,0.796021
Innings,-0.738977,0.970049,1.000000,0.640974,0.921807,0.330702,0.217758,-0.029657,0.421864,0.765534,0.866480,0.760203,0.894048
Not outs,-0.383700,0.742428,0.640974,1.000000,0.429187,-0.131882,0.081857,0.047212,0.042025,0.243668,0.276461,0.436091,0.349672
Runs,-0.767849,0.830134,0.921807,0.429187,1.000000,0.541879,0.495923,0.005642,0.615166,0.937041,0.962029,0.829148,0.987683
Highest score,-0.577852,0.207822,0.330702,-0.131882,0.541879,1.000000,0.578959,0.215979,0.745106,0.558876,0.546733,0.573234,0.595267
Average,-0.430130,0.101613,0.217758,0.081857,0.495923,0.578959,1.000000,0.071716,0.477697,0.607154,0.456105,0.441229,0.484284
strike rate,-0.306647,-0.004534,-0.029657,0.047212,0.005642,0.215979,0.071716,1.000000,0.164870,0.020167,-0.053721,0.325057,0.068444
100,-0.492496,0.337411,0.421864,0.042025,0.615166,0.745106,0.477697,0.164870,1.000000,0.603751,0.583420,0.655201,0.649689
50,-0.671100,0.654453,0.765534,0.243668,0.937041,0.558876,0.607154,0.020167,0.603751,1.000000,0.930052,0.738046,0.933705
4s,-0.669481,0.763542,0.866480,0.276461,0.962029,0.546733,0.456105,-0.053721,0.583420,0.930052,1.000000,0.694284,0.970888
6s,-0.845413,0.694489,0.760203,0.436091,0.829148,0.573234,0.441229,0.325057,0.655201,0.738046,0.694284,1.000000,0.846465
Strength,-0.776665,0.796021,0.894048,0.349672,0.987683,0.595267,0.484284,0.068444,0.649689,0.933705,0.970888,0.846465,1.000000

In [5]:
df.head()

,Position,Player,Matches,Innings,Not outs,Runs,Highest score,Average,Balls faced,strike rate,100,50,4s,6s,Strength
0,1,ChrisGayle,140,139,16,4950,175,40.24,"3,312",149.45,6,31,404,357,761
1,2,AB de Villiers,176,162,38,5056,133,40.77,"3,318",152.38,3,40,406,245,651
2,3,Rohit Sharma,207,202,28,5480,109,31.49,"4,199",130.50,1,40,476,224,700
3,4,MS Dhoni,211,186,70,4669,84,40.25,"3,417",136.64,0,23,317,217,534
4,5,Kieron Pollard,171,154,50,3191,87,30.68,"2,115",150.87,0,16,207,211,418

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Position       100 non-null    int64
 1   Player         100 non-null    object
 2   Matches        100 non-null    int64
 3   Innings        100 non-null    int64
 4   Not outs       100 non-null    int64
 5   Runs           100 non-null    int64
 6   Highest score  100 non-null    int64
 7   Average        100 non-null    float64
 8   Balls faced    100 non-null    object
 9   strike rate    100 non-null    float64
 10  100            100 non-null    int64
 11  50             100 non-null    int64
 12  4s             100 non-null    int64
 13  6s             100 non-null    int64
 14  Strength       100 non-null    int64
dtypes: float64(2), int64(11), object(2)
memory usage: 11.8+ KB

In [7]:
x=df.drop(['strike rate','Position','Player','Balls faced','Strength'],axis=1)
y=df['strike rate']
x.shape,y.shape

((100, 10), (100,))

In [8]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.3)
from sklearn.linear_model import LinearRegression as LR
lr=LR()

model=lr.fit(x_train,y_train)

In [9]:
y_predict=model.predict(x_test)
residuals = pd.DataFrame({
    'fitted values' : y_test,
    'predicted values' : y_predict,
})

residuals['residuals'] = residuals['fitted values'] - residuals['predicted values']
print(residuals)

    fitted values  predicted values  residuals
26         121.87        125.357670  -3.487670
86         127.18        135.892287  -8.712287
2          130.50        130.558886  -0.058886
55         142.19        132.890420   9.299580
75         123.25        130.247119  -6.997119
93         118.89        134.205088 -15.315088
16         135.85        138.917428  -3.067428
73         146.13        134.981593  11.148407
54         120.22        128.642151  -8.422151
95         121.19        126.609240  -5.419240
53         120.78        120.255997   0.524003
92         115.51        124.752682  -9.242682
78         120.40        129.876903  -9.476903
13         179.29        146.352557  32.937443
7          140.13        141.035293  -0.905293
30         126.07        129.166929  -3.096929
22         153.32        134.660844  18.659156
24         157.23        139.272919  17.957081
33         132.20        133.592603  -1.392603
8          137.91        139.568781  -1.658781
43         135.28        133.825052   1.454948
62         127.69        130.842495  -3.152495
3          136.64        140.088520  -3.448520
71         116.97        127.901303 -10.931303
45         129.05        137.271815  -8.221815
48         123.88        121.093440   2.786560
6          136.89        130.019991   6.870009
99         150.20        134.017272  16.182728
82         137.84        131.046228   6.793772
76         117.82        129.783881 -11.963881

In [9]:
strike_rate=model.predict(np.array([[78,100,18,2000,99,32,2,4,200,200]]))
print("strike_rate:",strike_rate)

strike_rate: [148.40251797]

In [11]:
model.score(x_test,y_test)

0.42854328854256385

In [13]:
from sklearn.ensemble import RandomForestRegressor
lin = RandomForestRegressor(n_estimators=100,max_features=None)
model2=lin.fit(x_train,y_train)

In [12]:
import numpy as np
new_prediction = lin.predict(np.array([[78,100,18,2000,99,32,2,4,200,200]]))
print("Prediction score:" , new_prediction)

Prediction score: [136.417]

In [14]:
model2.score(x_train,y_train)

0.8788292011221492

In [15]:
df.describe()

,Position,Matches,Innings,Not outs,Runs,Highest score,Average,strike rate,100,50,4s,6s,Strength
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000
mean,50.500000,92.440000,83.670000,15.450000,2022.160000,91.590000,28.828600,132.753400,0.620000,11.630000,185.750000,77.720000,263.47000
std,29.011492,49.037467,45.253284,12.613425,1352.316566,22.768086,6.318648,12.322532,1.126181,10.561656,132.589469,59.649325,179.22056
min,1.000000,16.000000,16.000000,0.000000,359.000000,40.000000,15.710000,106.800000,0.000000,0.000000,20.000000,25.000000,45.00000
25%,25.750000,55.750000,51.000000,5.750000,1013.000000,75.000000,24.617500,124.255000,0.000000,4.000000,89.250000,39.000000,128.50000
50%,50.500000,84.500000,74.000000,11.500000,1669.500000,91.000000,27.630000,130.550000,0.000000,9.000000,143.500000,55.000000,205.00000
75%,75.250000,113.250000,101.750000,21.250000,2512.500000,106.000000,31.930000,137.910000,1.000000,15.000000,245.500000,92.750000,339.25000
max,100.000000,211.000000,202.000000,70.000000,6076.000000,175.000000,46.530000,179.290000,6.000000,50.000000,634.000000,357.000000,761.00000